body {
    background-color: cadetblue;
    font: sans-serif; 

}

h1 {
    color:black;
    text-align: center;
    padding: 20;
}

h2 {
    color:black;
    padding: 5;
}


.button{
    padding: 10;
    margin: 10px;
    background-color: greenyellow;
    border-radius: 4px; 
    border: green; 
    color: green;
    font-size: 22px; 
    text-align: left;
}

.submit{
    padding: 10;
    margin: 10px;
    background-color: greenyellow;
    font-size:18px;
    text-align: left;
    color:green;
    border: green;
    border-radius: 4px;
}

dl {
    color:white; 
    text-align: left;
    margin:10px;
}
